@font-face{
	font-family: "MASQUE";
	src: url("fonts/MASQUE__.ttf");
}
@font-face{
	font-family: "KOMIKAX";
	src: url("fonts/komikax_.ttf");
}
@font-face{
	font-family: "GovtAgent";
	src: url("fonts/GovtAgentBB.ttf");
}
@font-face{
	font-family: "Madel";
	src: url("fonts/Madel.ttf");
}

body{
	background-color: #FFFFFF;
	padding: 0px;
}


header{
	display: inline-block;
	width: 15%;
	background-color: #0777B9;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0%;
	font-family: "MASQUE";
}



header a{
	display: block;
	text-decoration: none;
	color: #DCDCDC;
	margin: 10px auto;
	text-align: center;
}

header a:hover, header a:focus{
	color: #FFFFFF;
}

main{
	display: inline-block;
	width: 83%;
	position: absolute;
	left: 15%;
	padding: 1%;
	font-family: "Madel";
	color: #525252;
	font-size: 175%;
}

#about a, #contact a{
	color: #323232;
}

h1{
	font-size: 125%;
	color: #020202;
	font-family: "GovtAgent";
}

h2{
	font-size: 100%;
	color: #525252;
	font-family: "GovtAgent";
}

.active{
	color: #FFFFFF;
}

#email{
	text-decoration: none;
}

#email:hover{
	text-decoration: underline;
	color: #000000;
}